:root {
  --text-shadow-color: #ff9c99;
  --text-main-color: #d74742;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #deb887;
  font-family: "Rouge Script", cursive;
  font-size: 130px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #a0522d;
  font-family: "Lucida Console", Courier, monospace;
}

p {
  color: #ffffff;
  font-family: "Carme", sans-serif;
  font-size: 16px;
}

.container {
  margin: 5rem auto;
  max-width: 1048px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer__wrapper {
  border-radius: 24px;
  background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  opacity: 0.9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  width: 800px;
}
.timer__display {
  padding-left: 1.5em;
}
.timer__display > p {
  font-size: 5em;
}
.time-card-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 70px 20px;
}

.time-card {
  border: 4px solid white;
  padding: 1.5rem;
  border-radius: 8px;
  opacity: 2;
}

.time-units {
  display: flex;
  justify-content: space-around;
}

.unit {
  font-size: 25px;
  margin-bottom: 70px;
  font-weight: bold;
  color: white;
}

.button__wrapper {
  display: flex;
  width: 30vw;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
}
.button {
  color: black;
  background: -webkit-linear-gradient(0deg, transparent 0%, #deb887);

  font-size: 1.5em;
  border-radius: 100vh;
  border: 1px solid black;
  padding: 1em;
  transition: ease-in-out 0.3s;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.9s;
}
.button:active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
}
.button:hover {
  transform: scale(120%);
  background-position: 98px 0;
}
.button:disabled {
  background-color: rgb(170, 164, 164);
}
/* .button.active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
} */

/* .laplist-list {
  display: flex;
  flex-direction: column;
} */

.laptime {
  margin-left: 10px;
}

.laplist-headers {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.laplist-list {
  display: flex;
  flex-direction: column;
}

.laplist-title {
  font-size: 30px;
  font-weight: bold;
}
.laptime {
  height: 100px;
}
.laptime-time {
  color: #8b4513;
  font-size: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-device-width: 1280px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size: 60px;
    line-height: 0px;
  }
  .button__wrapper {
    margin: auto;
    width: 100%;
  }
  .timer__display > p {
    font-size: 3.8em;
    padding-left: 0;
  }
}
